body {
    background-color: #232323;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase; 
    margin: 0; /* stretches h1 main and stripe to max width / eradicates empty spaces between window and elements */
    width: 100%;
}

#main {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 20px; 
    letter-spacing: 2px;
    width: 100%;
    margin: 0 auto; /* Zeroes top and botom margins and autos sides */
    background: steelblue;
    font-stretch: wider;
    
    transition: all 1.3s;
}

/* span{
    vertical-align: middle; /*aligns smaller text to the middle of bigger text
    position: relative;
} */

#RGB{
    font-size: 300%;
    font-weight: 700;
    /* letter-spacing: 3px; */
    transition: all 1.3s;
}

#colorDisplay{
    border-top: 2px solid #232323;
    margin-top: 20px;
    font-size: 1.7em;
    font-stretch: wider;
   }

#info{
    font-size: 0.65em;
    font-weight: 700;
   }

.square {
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    overflow: hidden;
    border-radius: 50%;
    transition: all 1.3s;
}

#stripe{
    transition: all 1s;
    background-color: white;
    color: steelblue;
    text-transform: uppercase;
    text-align: center;
    height: 40px;
}

button{
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    border : none; /* deletes default dark border */
    background: none; /* deletes default grey background */
    height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: steelblue;
    font-size: inherit;
    /* letter-spacing: 1px; */
}

button:hover{
    transition: all 0.4s;
    color: white;
    background: steelblue;
}

#message{
    /* this code centers without regard to other elements
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; */
    text-align: left;
    margin: 0 40px;
    display: inline-block;
    width: 20%;
}

#container {
    margin: 20px auto; /* 0 on top and bottom and auto to even them on both sides*/
    /* max-height: 500px; */
    max-width: 500px;
} 

#thumbsup {
    height: 200px;
    width: auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: none;
    -webkit-animation: slide-in 1.3s ease-out;
    -moz-animation: slide-in 1.3s ease-out;
}

#back {
    width: 200px;
    height: 100px;
    text-align: center;

    position: relative;
    top: 100px; 
    bottom: 20px;
    left: 0;
    right: 0;

    margin: auto;
}

a{
    color: goldenrod;
    text-decoration: none;
    font-size: 35px;
}

/* #slideout {
    height: 200px;
    width: auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: none;
    -webkit-animation: slide-out 1.3s ease-out;
    -moz-animation: slide-out 1.3s ease-out;
} */


/* slide in from the left. Change X to Y to slide from top*/
@-webkit-keyframes slide-in {
      0% { opacity: 0; -webkit-transform: translateX(-100%); }   
    100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes slide-in {
      0% { opacity: 0; -moz-transform: translateX(-100%); }   
    100% { opacity: 1; -moz-transform: translateX(0); }
}

/*this will just slide off screen*/
/* @-webkit-keyframes slide-out {
    0% { opacity: 1; -webkit-transform: translateX(0); }   
  100% { opacity: 0; -webkit-transform: translateX(0); }
}
@-moz-keyframes slide-out {
    0% { opacity: 1; -moz-transform: translateX(0); }   
  100% { opacity: 0; -moz-transform: translateX(0); }
} */