html{
    height: 100%; /* for stretching body background / getting rid of white space at the bottom*/
}

body{
    background: url("background2.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Lato";
    color: white;
} 


#content{
    text-align: center;
    padding-top: 15%;
}

h1{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    /* background-color: rgba(51, 51, 51, 0.6); rgba is for opacity */
    font-weight: 900;
    font-size: 4em;
    padding-bottom: 3%;
    border-bottom: 3px solid white;
}


/* #projects{
    max-height: 30vh;
} */

.grid-item{
    max-width: 300px;
    background-color: white;
    opacity: 0.65;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    transition: 1s ease;
    border-radius: 5%;
    overflow: hidden; /* top corners weren't affected by border radius without this*/
}

.grid-item:hover{
    opacity: 1;
    transition: 1s ease;
    box-shadow: 0 0 2em black; /* casts shadow all around the object*/
}

.grid-item h5{
    padding: 2%;
    margin-top: 5%; 
    opacity : 1;
    color: black;
}

 .picrel{
    width: 100%;
    height: 50%;
    margin: 0;
}

.btn{
    margin: 1% auto;
}

#code{
    margin-top: 100px;
    font-size: 35px;
}

#code a{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    text-decoration: none;
}

