body{
    font-family: 'Roboto', sans-serif;
    /* https://uigradients.com/#Lawrencium */
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
}

#container{
    background: green;
    width: 400px;
    margin: 100px auto;
    background: lightgray;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

h1{
    background: steelblue;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
}

input{
    font-size: 18px;
    background: lightgray;
    width: 100%;
    padding: 15px 15px 15px 20px;
    box-sizing: border-box; /* input was out of container - width doesnt include margin */
}

/* border around input field after clicking on it */
input:focus{
    background: white;
    border: 3px solid steelblue;
}

ul{
    list-style: none; /* gets rid of bullet points*/
    margin: 0;
    padding: 0;
}

span{
    background: lightcoral;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    opacity: 0;
    display: inline-block; /*100% height in this case*/
    transition: 0.22s linear;
}

li{
    background: white;
    line-height: 40px;
}

li:nth-of-type(2n){
    background: lightgray;
}

li:hover span{
    width: 40px;
    opacity: 1.0;
}

.checked{
    color: gray;
    text-decoration: line-through;
    transition: 0.5s;
}

#back {
    width: 200px;
    height: 100px;
    text-align: center;

    position: relative;
    top:150px;
    bottom: 30px;
    left: 0;
    right: 0;

    margin: auto;
}

a{
    color: goldenrod;
    text-decoration: none;
    font-size: 35px;
}